.bg {
  background-image: url('../assets/svg/login-bg.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  background: #fff;
  border-radius: 6px;
  display: flex;
  overflow: hidden;
}
.left {
  background-image: url('../assets/images/login-left.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  flex: 1;
  width: 460px;
  height: 360px;
}
.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 24px;
  color: #7174ff;
  margin-bottom: 48px;
}
.submit {
  padding-top: 24px;
}
