FRONTEND_PORT=8080
BACKEND_PORT=9999

SPRING_DATASOURCE_URL=jdbc:postgresql://host.docker.internal:5432/model_design?sslmode=disable
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=123456

SPRING_DATA_REDIS_HOST=host.docker.internal
SPRING_DATA_REDIS_PORT=16379

OPENAI_API_KEY=
OPENAI_BASE_URL=
MODEL_NAME=MiniMax-M2.7
AUTH_JWT_SECRET=change-this-jwt-secret-change-this-jwt-secret
MODEL_DESIGN_FILE_STORAGE_PATH=/app/storage
